@font-face {
    font-family: button;
    src: url('../fonts/buttonFont.ttf');
}
@font-face {
    font-family: normal;
    src: url('../fonts/normalFont.ttf');
}
@font-face {
    font-family: title;
    src: url('../fonts/titleFont.ttf');
}
.title {
    font-family: title, serif;
    line-height: 1;
    font-size: 4rem;
    overflow: hidden;
}
h1.title {
    letter-spacing: 0.9rem;
}
h2.title {
    letter-spacing: 0;
}
.normal {
    font-family: normal, serif;
}
.button {
    font-family: button, serif;
}

.background {
    background-image: url("../images/background.jpg");
    background-size: cover;
}

@media screen and (min-width: 600px) {
    h1.title {
        font-size: 9rem;
    }
    h2.title {
        font-size: 7rem;
    }
}